# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Build
/External
/.vs

*.vcxproj
*.filters
*.sln
*.txt
*.ogg
*.user
/Build/Debug/raylib_template.exe
/Build/Debug/raylib_template.pdb
/Build/Intermediate/Debug/raylib_template.tlog/CL.read.1.tlog
/Build/Intermediate/Debug/raylib_template.tlog/link.read.1.tlog
/Build/Intermediate/Debug/raylib_template.tlog/link.write.1.tlog
/Build/Intermediate/Debug/raylib_template.ilk
/Build/Intermediate/Debug/raylib_template.log
/Build/Intermediate/Debug/vc143.idb
/Build/Intermediate/Debug/vc143.pdb
/Build/Intermediate/Debug/raylib_template.tlog/raylib_template.lastbuildstate
